@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Roboto;
    color: #777777;
    /* width: 100%; */
    min-height: 100vh;
    height:100%;
   
}
/* html {
   min-height: 100%;
} */

h1 {
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777777;
}

#logo{
    float: left;
    font-size: 280%;

}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;

}
/* 
#logo, #menu {
    line-height: 75px;
} */

#menu li {
    float: right;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;   /* inherit from body color */
}

#menu a:hover{
    /* border-bottom: 1px solid #777777; */
    color: red;
}

.active {
    /* border-bottom: 1px solid #777777; */
    color: red;
}

nav {
    background-color: lightpink;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width:595px) {
  nav {
    background-color: lightgreen;
    width:100%;
  }
  #logo{
      font-size: 100%;
  }
}


.my-cathedral{
    height: 800px;
    width: 100%; 
    position:relative;
    /* overflow: hidden; */
    background-color: #c9c9c9;
    background-image: url("../images/Miro01.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    background-attachment: fixed;
    display:inline-block;
    /* background-blend-mode: overlay; */
    padding: 1em;
    display:flex;
   
} 
/* .img-cathedral {

    height:800px;
    width: 100%;
    background-image: url("../images/Miro01resized1.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    background-attachment: fixed;
    /* display:inline-block;
   
       
}  */
 @media only screen and (max-width: 320px) {
            .img-cathedral {
                background-image: url("../images/Miro01resized1.jpg");
            }
        }
/* 
@media only screen and (min-width: 1440px) {
            #img-cathedral {
                background-image: url("../images/Miro01resized1.jpg");
            }
        }         */


/* 
#img-hike{
    height:800px;
    width: 100%;
    overflow: hidden;
    position: relative; 
    
}
#img-hike{
    height:800px;
    width: 100%;
    background-image: url("../images/mirocomunication.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-size: contain;   
}
*/
    
.section-cover-wrapper {
    width: 90vw;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 50px;
}

main h2 {
    text-align: center;
}

.link-scroll {
     width: 90vw;
     color: #FF8C42;
     position: fixed;
     font-size: 6rem;
     text-align: center;
     margin-top:100px;
     

}

.cover-heading{
    color:red;
    font-size: 40px;
    background-color: rgba(241, 109, 107, .7);
}


#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 300px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 150px;
    right: 150px;

    position: absolute;

}

#hike{
    height:900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#img-hike {
    height:900px;
    width: 100%;
    background-image: url("../images/resizedMiro20.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-size: 100% 100%; */
}


/*.........Footer...............*/


.container-footer {
  margin-top: 0px ;
  text-align: center ;
  font-size: 100%;
  font-family: Verdana ;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(260deg, #ffffff 0%, #f3f1f3 100%);
  bottom: 0px;
  padding: 0px;
  position: relative;
  clear: both;
}  
.justify-content-center li a {
  border-radius: 50%; 
  display: block;
  background:rgb(38, 15, 22);
}  
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}  
.social-icon {
  text-align: center;
  text-decoration: none;
}   
.social-icon li a {
  display: inline-block;
  font-size: 30px;
  line-height: 38px;
  width: 56px; 
  text-decoration: none;
  outline: none;
}
.social-icon li a i {
  color: #d2d2db;  
}  
.social-icon li a {
  width: 56px;
  height: 56px;
}  
li {
  list-style: none;
  float:left; 
  padding: 15px;   
}  
.container-footer ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  transition: 0.5s;
}
.black-text {
  padding-top: 10px;
  color: rgb(12, 11, 11);
}
.grey-text {
  color: rgb(12, 11, 11);
}

/*......finish footer........*.
/*____________________________ polit_____________________*/

#polit {
    height: 100vh;
}




/*############################## travel###################*/

#travel {
    height: 100vh;
}