@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Roboto;
    color: #777777;
    /* width: 100%; */
    min-height: 100vh;
    height:100%;
   
}
/* html {
   min-height: 100%;
} */

h1 {
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777777;
}

#logo{
    float: left;
    font-size: 280%;

}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;

}
/* 
#logo, #menu {
    line-height: 75px;
} */

#menu li {
    float: right;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;   /* inherit from body color */
}

#menu a:hover{
    /* border-bottom: 1px solid #777777; */
    color: red;
}

.active {
    /* border-bottom: 1px solid #777777; */
    color: red;
}

nav {
    background-color: lightpink;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width:595px) {
  nav {
    background-color: lightgreen;
    width:100%;
  }
  #logo{
      font-size: 100%;
  }
}
/*main section */
/* 
#main-page{
    min-height: 100vh;
} */

.header{
 background-image: url("../images/miro-main.jpg");
 background-attachment: fixed;
 background-size: cover; 
 /* background-size: 300px 100px; */
 background-position: center;
  background-repeat: no-repeat;
}

.overlay{
 /* position: absolute; */
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
 opacity: 0.5;
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}

.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}

/* about */
.about{
 /* margin: 4em 0; */
 padding: 1em;
 position: relative;
 background-color: rgb(224, 222, 222);
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}






/* 
.my-cathedral{
    height: 800px;
    width: 100%; 
    position:relative;
    background-color: #c9c9c9;
    background-image: url("../images/Miro01.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    background-attachment: fixed;
    display:inline-block;
    padding: 1em;
    display:flex;
   
}  */
/* .img-cathedral {

    height:800px;
    width: 100%;
    background-image: url("../images/Miro01resized1.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    background-attachment: fixed;
    /* display:inline-block;
   
       
}  */
  @media only screen and (max-width: 320px) {
            .img-cathedral {
                background-image: url("../images/Miro01resized1.jpg");
            }
        } 

/* #img-hike{
    height:800px;
    width: 100%;
    overflow: hidden;
    position: relative; 
    
} */
/* #img-hike{
    height:800px;
    width: 100%;
    background-image: url("../images/mirocomunication.jpg");
    background-position: center center;
    background-repeat: no-repeat; */

    /* background-attachment: fixed;
    background-size: contain;   
}
*/
/*     
.section-cover-wrapper {
    width: 90vw;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 50px;
} */
/* 
main h2 {
    text-align: center;
}

.link-scroll {
     width: 90vw;
     color: #FF8C42;
     position: fixed;
     font-size: 6rem;
     text-align: center;
     margin-top:100px;
     

}

.cover-heading{
    color:red;
    font-size: 40px;
    background-color: rgba(241, 109, 107, .7);
}


#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 300px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 150px;
    right: 150px;

    position: absolute;

} */

/* section2 */

#hike{
    height:900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#img-hike {
    height:900px;
    width: 100%;
    background-image: url("../images/resizedMiro20.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-size: 100% 100%; */
}
.left-but{
    /* position: relative; */
    display: inline-block;
    color: white;
}

.hike-text-left{
    position: absolute;
     z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 20%;
        top: 40%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */
    
}

.travel-icon-left{
    position: absolute;
     z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 20%;
        top: 45%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */

}

.right-but{
    /* position: relative; */
    display: inline-block;
    color: white;
}

.hike-text-right{
    position: absolute;
     z-index: 999;
        margin: 0 auto;
        left: 20%;
        right: 0;
        top: 40%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */
    
}

.travel-icon-right{
    position: absolute;
     z-index: 999;
        margin: 0 auto;
        left: 20%;
        right: 0;
        top: 45%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */

}



/*.........Footer...............*/


.container-footer {
  margin-top: 0px ;
  text-align: center ;
  font-size: 100%;
  font-family: Verdana ;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(260deg, #ffffff 0%, #f3f1f3 100%);
  bottom: 0px;
  padding: 0px;
  position: relative;
  clear: both;
}  
.justify-content-center li a {
  border-radius: 50%; 
  display: block;
  background:rgb(38, 15, 22);
}  
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}  
.social-icon {
  text-align: center;
  text-decoration: none;
}   
.social-icon li a {
  display: inline-block;
  font-size: 30px;
  line-height: 38px;
  width: 56px; 
  text-decoration: none;
  outline: none;
}
.social-icon li a i {
  color: #d2d2db;  
}  
.social-icon li a {
  width: 56px;
  height: 56px;
}  
li {
  list-style: none;
  float:left; 
  padding: 15px;   
}  
.container-footer ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  transition: 0.5s;
}
.black-text {
  padding-top: 10px;
  color: rgb(12, 11, 11);
}
.grey-text {
  color: rgb(12, 11, 11);
}

/*......finish footer........*.
/*____________________________ polit_____________________*/

#polit {
    height: 100vh;
}




/*############################## travel###################*/

#travel {
    height: 100vh;
}


/*Portfolio*/
.portfolio{
 margin: 4em 0;
    position: relative; 
}
.portfolio h1{
 color:#F97300;
 margin: 2em; 
}
.portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
  
}

/*------------section-form------------------*/
#my-form{
    min-height: 100vh;
}

#my-form {
    height:500px;
    width: 100%;
    background-image: url("../images/Miro03.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-size: 100% 100%; */
    
}

.my-form{
    width:100%;
    display: block;
}


.form-section {
    clear: both;
    /* background-color: green; */
    background-size: cover;
    background-position: center;
    height: 900px;
}


.signup-form{
    
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    margin-left: 35%;
    padding: 30px;
    margin-top: 50px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/*input[type="text"]{*/
/*   background: transparent;*/
/*}*/
.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
    cursor:pointer;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fafafa;
    display: inline-block;
}

.join-button:hover{
    /*background-color:#fafafa;*/
    background-color: #4CAF50; 
    color: #f16c6b;
}

.about-form{
    
    /* margin-left: 10%; */
    padding: 30px;
    margin-top: 50px; 

}

.left-text-form {
    margin-left: 10%;
    padding: 30px;
    margin-top: 50px;

}

.left-text-form{
    color:orangered;
}

#message{
    height: 50px;
    color:white;
    padding-top: 8px;
}
